[Desktop Entry]
Type=Application
Name=Image Tea
Comment=Image metadata and processing tool
Exec=/bin/bash "/home/hikam/BUILD/Image-Tea-nano/Launcher.sh"
Icon=/home/hikam/BUILD/Image-Tea-nano/res/image_tea.ico
Terminal=false
Categories=Graphics;Photography;Utility;
StartupNotify=true
Version=1.0
